<h2>New Tweet!</h2>
<form action="/tweets" class="tweet-compose" data-ul-id="#feed" method="POST">
  <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

  <label>
    Content
    <textarea name="tweet[content]" class="tweet-content"></textarea>
  </label>
  <Strong class="chars-left" style="display:block">140 Characters Remaining</Strong>
  <br>

  <label>
    Mention
    <a href="javascript:void(0)" class="add-mentioned-user">Add Mentioned User</a>
  </label>
  <div class="mentioned-users">

  </div>
  <br>

  <input type="Submit" value="Post Tweet!" class="no-clear">
</form>

<script type="text/template" class="mention-template">
  <span class="whatever">
    <select class="tweet-mentions" name="tweet[mentioned_user_ids][]">
      <option></option>
      <% User.all.each do |user| %>
        <option value="<%= user.id %>"><%= user.username %></option>

      <% end %>

    </select>
      <a href="javascript:void(0)" class="remove-user">remove</a>
  </span>


</script>
