<% if current_user.follows?(user) %>
  <% following = "followed" %>
<% else %>
  <% following = "unfollowed" %>
<% end %>

<button class ="follow-toggle" data-initial-follow-state="<%= following %>" data-user-id = "<%= user.id %>"></button>
